.toasts_container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: fit-content;
  max-width: 500px;
  min-width: 300px;
  padding: 8px;
  position: fixed;
  right: 0;
  width: 100%;
  z-index: 3;
}

.toast {
  animation: appearance .4s ease-out;
  background: var(--primary);
  border-radius: 12px;
  display: flex;
  gap: 10px;
  height: fit-content;
  min-height: 40px;
  padding: 8px;

  .message {
    flex: 1;

    .title {
      font-size: 14px;
      font-weight: 600;
      margin: 0;
    }

    .description {
      font-size: 14px;
      margin: 0;
    }
  }
  
  .icon {
    align-items: center;
    border-radius: 8px;
    display: flex;
    height: 40px;
    justify-content: center;
    width: 40px;

    &.info {
      background: #007c9230;
    }
  
    &.success {
      background: #009e2f30;
    }
  
    &.warning {
      background: #b4930030;
    }
  
    &.error {
      background: #a32c2c30;
    }
  }
}

@keyframes appearance {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}
