.language_selector {
  background-color: var(--tertiary);
  border: none;
  border-radius: 8px;
  font-size: 13px;
  outline: none;  
  padding: 0 12px;

  &.from {
    grid-area: fromLang;
  }

  &.to {
    grid-area: toLang;
  }
}