.translation_container {
    background: var(--secondary);
    border-radius: 12px;
    box-shadow: 0 0 15px -5px #227cd1;
    display: grid;
    grid-template-areas: 
        "fromLang reverse toLang"
        "write . read";
    ;
    grid-template-columns: 1fr 40px 1fr;
    grid-template-rows: 40px 1fr;
    gap: 8px;
    min-height: 250px;
    margin: auto;
    max-width: 1100px;
    padding: 8px;
    width: 100%;
}

@media (max-width: 539px) {
    .translation_container {
        grid-template-areas: 
            "fromLang"
            "write"
            "reverse"
            "toLang"
            "read";
        ;
        grid-template-columns: 1fr;
        grid-template-rows: 40px 1fr auto 40px 1fr;
        min-height: 450px;
    }
}
